.scrum-detail-scss{
  .scroll-content{
    background: #808080; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#808080, #999999, #595959, #0d0d0d);
    background: -moz-linear-gradient(#808080, #999999, #595959, #0d0d0d);
    background: -o-linear-gradient(#808080, #999999, #595959, #0d0d0d);
    background: linear-gradient(#808080, #999999, #595959, #0d0d0d); /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
  }
}
.scroll-content-child{
    height: 90%;
}
.toolbar-title-md{
    text-align: left;
}
/* flip speed goes here */
.flipper {
    width: 80%;
    height: 90%;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    text-align: center;
    position: initial;
    margin-top: 12%;
    margin-left: 10%;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* front pane, placed above back */
.front {
    border: ridge #ddd;
    border-radius: 18px;
    //border: double #ddd;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background: white;
}
.number{
    font-size: 8em;
    position: absolute;
    top:50%;
    transform: translate(-50%, -50%);
}
/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}
.img-back{
    border: ridge #ddd;
    border-radius: 18px;
    width: 100%;
    height: 100%;
}
.cl-lbl{
    height:100%;
    display: block;
}
.cl-img{
    height: 100%;
    display: block;
}
.img-cf{
    display: inline;
    font-size: 7em;
    height: 100%;
}

.none-display{
    display: none;
}

.block-display{
    display: block;
}
