.scrum-detail-scss{
  .scroll-content{
    background: #0d0d0d; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0d0d0d, #333333, #333333, #0d0d0d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0d0d0d, #333333, #333333, #0d0d0d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0d0d0d, #333333, #333333, #0d0d0d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0d0d0d, #333333, #333333, #0d0d0d);
  }
}
.scroll-content-child{
    height: 100%;
}
.toolbar-title-md{
    text-align: left;
}
/* flip speed goes here */
.flipper {
    height: 100%;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    text-align: center;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 10%;
    bottom:10%;
    right:10%;
    left: 10%;
}
/* front pane, placed above back */
.front {
    border-radius: 18px;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background: white;
}
.front_inline{
    position: absolute;
    top: 4%;
    bottom: 4%;
    right: 6%;
    left: 6%;
    border-radius: 15px;
    line-height: 5em;
}
.cl-label{
    height:100%;
    display: block;
}
.number{
    top: 50%;
    color: white;
    font-size: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
}
.cl-img{
    height: 100%;
    display: block;
}
.img-cf{
    display: inline;
    font-size: 7em;
    padding-top: 20%;
}
/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    border-radius: 18px;
}
.img-back{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: relative;
}
#card-back{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.none-display{
    display: none;
}

.block-display{
    display: block;
}
