.grid-basic-page {
  .toolbar-background-md{
    background: #999999
  }
  .segment-md .segment-button{
    color: white;
  }
  .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
    border-color: white;
  }
  .scroll-content{
    background: #808080; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#808080, #999999, #595959, #0d0d0d);
    background: -moz-linear-gradient(#808080, #999999, #595959, #0d0d0d);
    background: -o-linear-gradient(#808080, #999999, #595959, #0d0d0d);
    background: linear-gradient(#808080, #999999, #595959, #0d0d0d); /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */
  }
  .div_view{
    padding-top: 2px;
  }
  .row-page{
    text-align: center;
    justify-content: space-around;
    //margin: 1em;
  }
  .letArrCard{
    text-align: center;
    padding: 0.2em;
    margin: 0.1em;
  }
  .col-page {
    border-radius: 2px;
    text-align: center;
  }
  .divItem {
    //background-color: #F9FAFB ;
    padding-top: 45%;
    border: ridge #ddd;
    border-radius: 10px;
    text-align: center;
    width: 90px;
    height: 120px;
    font-size: 2em;
  }
  .imgItem{
    margin: 0.1em;
    margin-top: 1.45em;
    border: ridge #ddd;
    //border: double #ddd;
    border-radius: 10px;
    text-align: center;
    width: 90px;
    height: 120px
  }
  .labelItem{
    font-size: 2em;
  }
  .footer{
    background: dimgrey;
  }
}