.grid-basic-page {
  .toolbar-background-md{
    background: #999999
  }
  .scroll-content{
    background: #0d0d0d; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0d0d0d, #333333, #333333, #0d0d0d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0d0d0d, #333333, #333333, #0d0d0d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0d0d0d, #333333, #333333, #0d0d0d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0d0d0d, #333333, #333333, #0d0d0d);
  }
  .div_view{
    padding-top: 2px;
  }
  .row-page{
    text-align: center;
    
    //margin: 1em;
  }
  .letArrCard{
    text-align: center;
    // padding: 0.2em;
    // margin: 0.1em;
  }
  .col-page {
    border-radius: 2px;
    text-align: center;
  }
  .divItem {
    color: white;
    border: solid 5px white;
    border-radius: 10px;
    text-align: center;
    width: 90px;
    height: 120px;
    font-size: 2em;
  }
  .imgItem{
    border: solid 5px white;
    border-radius: 10px;
    text-align: center;
  }
  .labelItem{
    font-size: 2em;
  }
  .fewCards {
    padding: 10px 10px;
  }
  .manyCards {
    padding: 5px 10px;
  }
  .imgFewCards {
    margin: 10px 10px;
  }
  .imgManyCards {
    margin: 5px 10px;
  }
}
.ion-segment{
  background: #0d0d0d
}
.imgLogo{
  width: 4em;
}
.setting-icon{
  font-size: 1.8em;
  margin-bottom: 1px;
}
.bar-buttons-md[end]{
  margin-left: 1em;
}