<ion-menu [content]="content" class="app_header">
  <ion-content class="app_content">
    <ion-list>
      <!--<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>-->

      <ion-list-header class="list_header">
        Deck Settings
      </ion-list-header>

      <ion-item>
        <ion-label class="item-select label-md">Deck color</ion-label>
        <ion-select [(ngModel)]="model.background" (ionChange)="changeBackground()">
          <div *ngFor="let color of deckcolors">
            <ion-option value="{{color.value}}">{{color.title}}</ion-option>
          </div>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="item-select label-md">Largest Card</ion-label>
        <ion-select [(ngModel)]="model.maxCardNumber" (ionChange)="changeLargest()">
          <div *ngFor="let large of largestCard">
            <ion-option value="{{large}}">{{large}}</ion-option>
          </div>
        </ion-select>
      </ion-item>

      <ion-list-header class="list_header">
        General Settings
      </ion-list-header>
      <ion-item>
        <ion-label class="label-md">Auto-Hide Card</ion-label>
        <ion-toggle [(ngModel)]="autoHide_value" (ionChange)="autoHide()" color="royal"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label class="label-md">Card Sounds</ion-label>
        <ion-toggle [(ngModel)]="sound_value" (ionChange)="soundOn()" color="royal"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label class="label-md">Keep Screen on</ion-label>
        <ion-toggle [(ngModel)]="keepScreen_value" (ionChange)="keepScreenOn()" color="royal"></ion-toggle>
      </ion-item>

      <ion-list-header class="list_header">
        Time Settings
      </ion-list-header>
      <ion-item>
        <ion-label class="item-select label-md">Duracation</ion-label>
        <ion-select [(ngModel)]="model.duration" (ionChange)="changeDuration()">
          <div *ngFor="let time of deckTime">
            <ion-option value="{{time.value}}" selected="true">{{time.title}}</ion-option>
          </div>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons>
        <button ion-button menuToggle>
          <ion-icon name="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>